@mixin desktop_layout {
    @media all and (min-width: 992px) {
        @content;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    position: relative;
    border: 1px solid black;

    @include desktop_layout {
        padding: 0;
        overflow: hidden;
    }

    & > * {
        background-color: #444;
        border: 1px solid red; 
    }

    & > * > * {
        background-color: pink;
        border: 1px solid blue;
        text-align: center;
    }

    & > * > * > * {
        background-color: purple;
        border: 1px solid green;
        text-align: center;
    }

    & > * > * > * > * {
        background-color: brown;
        border: 1px solid yellow;
        text-align: center;
    }

    & > * > * > * > * > * {
        background-color: orangered;
        border: 1px solid black;
        text-align: center;
    }

    .row {
        *[class*="col"] {
            padding: 0;
        }
    }

    .nav-bar {
        height: 9vh;
        margin-bottom: 2.5vh;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;

        @include desktop_layout {
            display: none;
        }

        &__ham-menu {
            height: 100vh;
            display: none;

            .ham-menu-item {
                height: 9vh;
                display: flex;
                justify-content: center;
                align-items: center;

                & > a {
                    color: black;
                    font-size: 6vw;
                }
            }
        }

        &__ham-btn {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7.5vw;
        }

        &__logo {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9.5vw;
        }

        &__srh-btn {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7.5vw;
        }

        &__srh-input {
            display: none;

            & > input {
                height: 100%;
            }
        }
    }

    .central-content {
        width: 95%;
        margin: auto;
        margin-bottom: 17vh;
        z-index: 0;

        .rubrique-title {
            font-size: 6vw;
            margin-bottom: 1.6vh;
        }

        .classement-setting {
            margin-bottom: 3.2vh;

            .classement-setting-paragraph {
                margin: 0;
                font-size: 5vw;
            }

            .radio-container {
                width: 80%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                font-size: 5vw;
            }
        }

        .news-section {
            margin-bottom: 3.2vh;

            .rubrique-main-article {
                margin-bottom: 3.2vh;

                .main-article-video {
                    height: 37.5vh;
                    margin-bottom: 1vh;
                }

                .main-article-text {
                    height: 20vh;
                    position: relative;

                    .main-article-title {
                        margin-bottom: 2vh;
                        font-size: 5vw;
                    }

                    .main-article-paragraph {
                        margin-bottom: 0;
                        font-size: 3.5vw;
                    }

                    .main-article-button {
                        width: 14%;
                        height: 2.6vh;
                        position: absolute;
                        top: 87%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 3.5vw;

                        &:nth-child(3) {
                            left: 71%;
                        }

                        &:nth-child(4) {
                            left: 86%;
                        }
                    }
                }
            }

            .rubrique-secondary-article {
                margin-bottom: 3.2vh;
                position: relative;

                &:last-child {
                    margin-bottom: 0;
                }

                .secondary-article-picture {
                    height: 28.18vh;
                    margin-bottom: 1vh;
                }

                .secondary-article-text {
                    height: 15.02vh;

                    .main-article-title {
                        margin-bottom: 1.5vh;
                        font-size: 3.78vw;
                    }

                    .main-article-paragraph {
                        margin-bottom: 0;
                        font-size: 3vw;
                    }

                    .main-article-button {
                        width: 14%;
                        height: 1.95vh;
                        position: absolute;
                        top: 95%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2.5vw;

                        &:nth-child(3) {
                            left: 70%;
                        }

                        &:nth-child(4) {
                            left: 85.5%;
                        }
                    }
                }
            }
        }

        .aside-section {
            width: 100%;
            z-index: 0;

            @include desktop_layout {
                height: 0%;
            }

            .aside-episode-section {
                width: 100%;
                margin-bottom: 5vh;

                @include desktop_layout {
                    margin-bottom: 7.56vh;
                }

                .episode-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 6vw;
                    text-align: left;

                    @include desktop_layout {
                        margin-bottom: 3.78vh;
                        font-size: 2.5vw;
                    }
                }

                .episode-section-list {
                    width: 100%;
                    margin-bottom: 0;

                    .episode-section-list-item {
                        width: 100%;
                        margin-bottom: 2vh;
                        display: flex;
                        justify-content: space-between;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .item-img {
                            width: 22%;
                            height: 10vh;
                            background-color: yellowgreen;
                            border: 1px solid black;

                            @include desktop_layout {
                                height: 10.632vh;
                            }
                        }

                        .item-description {
                            width: 74%;
                            background-color: yellowgreen;
                            border: 1px solid black;

                            @include desktop_layout {
                                height: 10.632vh;
                            }

                            .item-description-title {
                                margin-bottom: 1.8vh;
                                font-size: 3.5vw;
                                text-align: left;
                                background-color: red;

                                @include desktop_layout {
                                    font-size: 1vw;;
                                }
                            }

                            .item-description-paragraph {
                                margin-bottom: 0;
                                font-size: 3.5vw;
                                text-align: left;
                                background-color: red;

                                @include desktop_layout {
                                    font-size: 1vw;
                                }
                            }
                        }
                    }
                }
            }

            .aside-trailer-section {
                width: 100%;
                margin-bottom: 5vh;

                @include desktop_layout {
                    margin-bottom: 7.56vh;
                }

                .trailer-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 6vw;
                    text-align: left;

                    @include desktop_layout {
                        margin-bottom: 3.78vh;
                        font-size: 2.5vw;
                    }
                }

                .trailer-section-video {
                    width: 100%;
                    height: 34vh;

                    @include desktop_layout {
                        height: 37.8vh;
                    }
                }
            }

            .aside-newsletter-section {
                width: 100%;

                .newsletter-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 6vw;
                    text-align: left;

                    @include desktop_layout {
                        margin-bottom: 3.78vh;
                        font-size: 2.5vw;
                    }
                }

                .newsletter-section-form {
                    width: 100%;

                    .email-input {
                        width: 100%;
                        margin-bottom: 3vh;
                        display: block;
                        font-size: 5vw;

                        @include desktop_layout {
                            margin-bottom: 5vh;
                            font-size: 1.5vw;
                        }
                    }

                    .submit-button {
                        display: block;
                        font-size: 5vw;

                        @include desktop_layout {
                            font-size: 1.5vw;
                        }
                    }
                }
            }
        }
    }

    .footer-section {
        z-index: 0;

        .footer-logo {
            height: 9vh;
            margin-top: 3.75vh;
            margin-bottom: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9.5vw;

            @include desktop_layout {
                height: 9.45vh;
                margin-top: 9vh;
                margin-bottom: 3.78vh;
                font-size: 3vw;
            }
        }

        .footer-article {
            margin-bottom: 5vh;

            @include desktop_layout {
                margin-top: 5vh;
                margin-bottom: 3.78vh;
            }

            .footer-article-title {
                margin-bottom: 1vh;
                font-size: 3.5vw;

                @include desktop_layout {
                    margin-bottom: 2vh;
                    font-size: 1.25vw;
                }
            }

            .footer-article-paragraph {
                margin-bottom: 1vh;
                font-size: 3.5vw;

                &:last-child {
                    margin-bottom: 0;
                }

                @include desktop_layout {
                    margin-bottom: 2vh;
                    font-size: 1.25vw;
                }

                & > a {
                    color: black;
                }
            }
        }

        .footer-social-section {
            margin-bottom: 5vh;

            @include desktop_layout {
                height: 0%;
                margin-top: 5vh;
                margin-bottom: 3.78vh;
            }

            .social-section-title {
                margin-bottom: 4vh;
                font-size: 3.5vw;

                @include desktop_layout {
                    margin-bottom: 3.78vh;
                    font-size: 1.25vw;
                }
            }

            .social-media-list {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-between;

                .social-media-logo {
                    width: 15%;
                    height: 5.5vh;

                    @include desktop_layout {
                        width: 18%;
                    }
                }
            }
        }

        .footer-legal-section {

            @include desktop_layout {
                display: flex;
                justify-content: space-between;
            }

            .legal-section-paragraph {
                margin-bottom: 5vh;
                font-size: 3vw;

                &:first-child {

                    @include desktop_layout {
                        margin-left: 16.5vw;
                    }
                }

                &:last-child {
                    margin-bottom: 0;

                    @include desktop_layout {
                        margin-right: 16.5vw;
                    }
                }

                @include desktop_layout {
                    margin-bottom: 0;
                    font-size: 1vw;
                }

                & > a {
                    color: black;
                }
            }
        }
    }
}