.container-fluid {
    border: 1px solid black;

    & > * {
        background-color: #444;
        border: 1px solid red; 
    }

    & > * > * {
        background-color: pink;
        border: 1px solid blue;
        text-align: center;
    }

    & > * > * > * {
        background-color: purple;
        border: 1px solid green;
        text-align: center;
    }

    & > * > * > * > * {
        background-color: brown;
        border: 1px solid yellow;
        text-align: center;
    }

    & > * > * > * > * > * {
        background-color: orangered;
        border: 1px solid black;
        text-align: center;
    }

    .row {

        *[class*="col"] {
            padding: 0;
        }
    }

    .nav-bar {
        margin-bottom: 2.5vh;

        &__ham-btn {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7.5vw;
        }

        &__logo {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9.5vw;
        }

        &__srh-btn {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7.5vw;
        }
    }
    
    .central-content {
        width: 95%;
        margin: auto;
        margin-bottom: 5vh;

        .news-section {
            width: 100%;
            margin-bottom: 5vh;
            
            .news-section-rubrique {
                width: 100%;

                &:nth-child(1) {
                    margin-bottom: 5vh;
                }

                .rubrique-title {
                    margin-bottom: 2.5vh;
                    text-align: left;
                    font-size: 5.5vw;
                }

                .rubrique-main-article {
                    width: 100%;
                    margin-bottom: 2.5vh;

                    .main-article-picture {
                        width: 100%;
                        height: 30vh;
                        margin-bottom: 1vh;
                    }

                    .main-article-text {
                        width: 100%;
                        height: 12vh;
                        position: relative;

                        .main-article-paragraph {
                            margin: 0;
                            font-size: 5.5vw;
                            background-color: red;
                            border: 1px solid black;
                        }

                        .main-article-button {
                            width: 15%;
                            height: 28%;                        
                            position: absolute;
                            display: block;
                            font-size: 3vw;

                            &:nth-child(2) {
                                top: 73%;
                                left: 69%;
                            }

                            &:nth-child(3) {
                                top: 73%;
                                left: 85%;
                            }
                        }
                    }
                }

                .rubrique-secondary-article {
                    width: 100%;
                    height: 14vh;
                    margin-bottom: 2.5vh;
                    display: flex;
                    justify-content: space-between;

                    &:nth-child(5) {
                        margin-bottom: 0;
                    }

                    .secondary-article-picture {
                        width: 29.5%;
                        height: 14vh;
                    }

                    .secondary-article-text {
                        width: 66.5%;
                        height: 14vh;
                        position: relative;

                        .secondary-article-paragraph {
                            margin: 0;
                            font-size: 4vw;
                            background-color: red;
                            border: 1px solid black;
                        }

                        .secondary-article-button {
                            width: 23%;
                            height: 23%;
                            position: absolute;
                            font-size: 3vw;

                            &:nth-child(2) {
                                top: 76%;
                                left: 53%;
                            }

                            &:nth-child(3) {
                                top: 76%;
                                left: 77%;
                            }
                        }
                    }
                }
            }
        }
        
        .aside-section {
            width: 100%;

            .aside-episode-section {
                width: 100%;
                margin-bottom: 5vh;

                .episode-section-title {
                    margin-bottom: 2.5vh;
                    text-align: left;
                    font-size: 5.5vw;
                }

                .episode-section-list-container {
                    width: 100%;

                    .episode-section-list {
                        width: 100%;
                        margin-bottom: 0;

                        .episode-section-list-item {
                            width: 100%;
                            height: 8.5vh;
                            margin-bottom: 2vh;
                            display: flex;
                            justify-content: space-between;
                            background-color: yellowgreen;
                            border: 1px solid black;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .item-img {
                                width: 20%;
                                height: 100%;
                                border: 1px solid red;
                            }

                            .item-description {
                                width: 76%;
                                height: 100%;
                                border: 1px solid red;
                            }
                        }
                    }
                }
            }

            .aside-trailer-section {
                width: 100%;
                margin-bottom: 5vh;

                .trailer-section-title {
                    margin-bottom: 2.5vh;
                    text-align: left;
                    font-size: 5.5vw;
                }

                .trailer-section-video {
                    width: 100%;
                    height: 34vh;
                }
            }

            .aside-newsletter-section {
                width: 100%;

                .newsletter-section-title {
                    margin-bottom: 2.5vh;
                    text-align: left;
                    font-size: 5.5vw;
                }

                .newsletter-section-form {
                    width: 100%;
                    height: 25vh;

                    .email-input {
                        width: 100%;
                        display: block;
                        font-size: 5.5vw;
                    }

                    .submit-button {
                        margin-top: 3vh;
                        display: block;
                        font-size: 5.5vw;
                    }
                }
            }
        }
    }

    .footer-section {

        .footer-logo {
            height: 9vh;
            margin-top: 3.75vh;
            margin-bottom: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9.5vw;
        }

        .footer-article {
            margin-bottom: 5vh;

            .footer-article-title {
                margin-bottom: 1vh;
                font-size: 4vw;
            }

            .footer-article-paragraph {
                margin-bottom: 1vh;
                font-size: 4vw;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .footer-social-section {
            height: 13vh;
            margin-bottom: 5vh;

            .social-section-title {
                margin-bottom: 4vh;
                font-size: 4vw;
            }

            .social-media-list {
                width: 90%;
                height: 45%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .social-media-logo {
                    width: 15%;
                    height: 100%;
                }
            }
        }

        .footer-legal-section {

            .legal-section-paragraph {
                margin-bottom: 5vh;
                font-size: 3vw;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}