.container-fluid {
    border: 1px solid black;

    & > * {
        background-color: #444;
        border: 1px solid red; 
    }

    & > * > * {
        background-color: pink;
        border: 1px solid blue;
        text-align: center;
    }

    & > * > * > * {
        background-color: purple;
        border: 1px solid green;
        text-align: center;
    }

    & > * > * > * > * {
        background-color: brown;
        border: 1px solid yellow;
        text-align: center;
    }

    & > * > * > * > * > * {
        background-color: orangered;
        border: 1px solid black;
        text-align: center;
    }

    .row {

        *[class*="col"] {
            padding: 0;
        }
    }

    .nav-bar {
        margin-bottom: 2.5vh;

        &__ham-btn {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7.5vw;
        }

        &__logo {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9.5vw;
        }

        &__srh-btn {
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 7.5vw;
        }
    }
    
    .central-content {
        width: 95%;
        margin: auto;
        margin-bottom: 5vh;

        .news-section {
            width: 100%;
            margin-bottom: 5vh;
            
            .news-section-rubrique {
                width: 100%;

                &:nth-child(1) {
                    margin-bottom: 5vh;
                }

                .rubrique-title {
                    margin-bottom: 2.5vh;
                    font-size: 4.5vw;
                }

                .rubrique-main-article {
                    width: 100%;
                    margin-bottom: 2.5vh;

                    .main-article-picture {
                        width: 100%;
                        height: 30vh;
                        margin-bottom: 1vh;
                    }

                    .main-article-text {
                        width: 100%;
                        height: 8vh;
                    }
                }

                .rubrique-secondary-article {
                    width: 100%;
                    height: 12vh;
                    margin-bottom: 2.5vh;
                    display: flex;
                    justify-content: space-between;

                    &:nth-child(5) {
                        margin-bottom: 0;
                    }

                    .secondary-article-picture {
                        width: 23.5%;
                        height: 12vh;
                    }

                    .secondary-article-text {
                        width: 72.5%;
                        height: 12vh;
                    }
                }
            }
        }
        
        .aside-section {
            width: 100%;

            .aside-episode-section {
                width: 100%;
                margin-bottom: 5vh;

                .episode-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 4.5vw;
                }

                .episode-section-list-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .episode-section-list {
                        width: 47.5%;
                        height: 30vh;
                        margin-bottom: 0;
                    }
                }
            }

            .aside-trailer-section {
                width: 100%;
                margin-bottom: 5vh;

                .trailer-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 4.5vw;
                }

                .trailer-section-video {
                    width: 100%;
                    height: 30vh;
                }
            }

            .aside-newsletter-section {
                width: 100%;
                margin-bottom: 5vh;

                .newsletter-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 4.5vw;
                }

                .newsletter-section-form {
                    width: 100%;
                    height: 21vh;
                }
            }

            .aside-advertising-section {
                width: 100%;

                .advertising-section-title {
                    margin-bottom: 2.5vh;
                    font-size: 4.5vw;
                }

                .advertising-section-form {
                    width: 100%;
                    height: 30vh;
                }
            }
        }
    }

    .footer-section {

        .footer-logo {
            height: 9vh;
            margin-top: 3.75vh;
            margin-bottom: 2.5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9.5vw;
        }

        .footer-article {
            height: 22.5vh;
            margin-bottom: 5vh;
        }

        .footer-social-section {
            height: 16.9vh;
            margin-bottom: 5vh;
        }

        .footer-legal-section {
            height: 16.9vh;
        }
    }
}