html, body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  position: relative;
  border: 1px solid black;
}

.container-fluid > * {
  background-color: #444;
  border: 1px solid red;
}

.container-fluid > * > * {
  background-color: pink;
  border: 1px solid blue;
  text-align: center;
}

.container-fluid > * > * > * {
  background-color: purple;
  border: 1px solid green;
  text-align: center;
}

.container-fluid > * > * > * > * {
  background-color: brown;
  border: 1px solid yellow;
  text-align: center;
}

.container-fluid > * > * > * > * > * {
  background-color: orangered;
  border: 1px solid black;
  text-align: center;
}

.container-fluid .row *[class*="col"] {
  padding: 0;
}

.container-fluid .nav-bar {
  height: 9vh;
  margin-bottom: 2.5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-fluid .nav-bar__ham-menu {
  height: 100vh;
  display: none;
}

.container-fluid .nav-bar__ham-menu .ham-menu-item {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .nav-bar__ham-menu .ham-menu-item > a {
  color: black;
  font-size: 6vw;
}

.container-fluid .nav-bar__ham-btn {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7.5vw;
}

.container-fluid .nav-bar__logo {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9.5vw;
}

.container-fluid .nav-bar__srh-btn {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7.5vw;
}

.container-fluid .nav-bar__srh-input {
  display: none;
}

.container-fluid .nav-bar__srh-input > input {
  height: 100%;
}

.container-fluid .central-content {
  width: 95%;
  margin: auto;
  margin-bottom: 17vh;
  z-index: 0;
}

.container-fluid .central-content .news-section {
  width: 100%;
  margin-bottom: 5vh;
}

.container-fluid .central-content .news-section .news-section-rubrique {
  width: 100%;
}

.container-fluid .central-content .news-section .news-section-rubrique:nth-child(1) {
  margin-bottom: 5vh;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-title {
  margin-bottom: 2.5vh;
  font-size: 6vw;
  text-align: left;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article {
  width: 100%;
  margin-bottom: 2.5vh;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-picture {
  width: 100%;
  height: 30vh;
  margin-bottom: 1vh;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-picture .diapo-picture-container {
  height: 30vh;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-picture .diapo-picture-container > img {
  width: 100%;
  height: 100%;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-text {
  width: 100%;
  height: 16vh;
  position: relative;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-text .main-article-paragraph {
  margin: 0;
  font-size: 5vw;
  background-color: red;
  border: 1px solid black;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-text .main-article-button {
  width: 15%;
  position: absolute;
  top: 80%;
  display: block;
  font-size: 2.8vw;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-text .main-article-button:nth-child(2) {
  left: 69%;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-main-article .main-article-text .main-article-button:nth-child(3) {
  left: 85%;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article {
  width: 100%;
  margin-bottom: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article:nth-child(5) {
  margin-bottom: 0;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article .secondary-article-picture {
  width: 29.5%;
  height: 14vh;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article .secondary-article-text {
  width: 66.5%;
  height: 14vh;
  position: relative;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article .secondary-article-text .secondary-article-paragraph {
  margin: 0;
  font-size: 3.5vw;
  background-color: red;
  border: 1px solid black;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article .secondary-article-text .secondary-article-button {
  width: 23%;
  position: absolute;
  top: 76%;
  font-size: 2.8vw;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article .secondary-article-text .secondary-article-button:nth-child(2) {
  left: 53%;
}

.container-fluid .central-content .news-section .news-section-rubrique .rubrique-secondary-article .secondary-article-text .secondary-article-button:nth-child(3) {
  left: 77%;
}

.container-fluid .central-content .aside-section {
  width: 100%;
  z-index: 0;
}

.container-fluid .central-content .aside-section .aside-episode-section {
  width: 100%;
  margin-bottom: 5vh;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-title {
  margin-bottom: 2.5vh;
  font-size: 6vw;
  text-align: left;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list {
  width: 100%;
  margin-bottom: 0;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list .episode-section-list-item {
  width: 100%;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list .episode-section-list-item:last-child {
  margin-bottom: 0;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list .episode-section-list-item .item-img {
  width: 22%;
  height: 10vh;
  background-color: yellowgreen;
  border: 1px solid black;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list .episode-section-list-item .item-description {
  width: 74%;
  background-color: yellowgreen;
  border: 1px solid black;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list .episode-section-list-item .item-description .item-description-title {
  margin-bottom: 1.8vh;
  font-size: 3.5vw;
  text-align: left;
  background-color: red;
}

.container-fluid .central-content .aside-section .aside-episode-section .episode-section-list .episode-section-list-item .item-description .item-description-paragraph {
  margin-bottom: 0;
  font-size: 3.5vw;
  text-align: left;
  background-color: red;
}

.container-fluid .central-content .aside-section .aside-trailer-section {
  width: 100%;
  margin-bottom: 5vh;
}

.container-fluid .central-content .aside-section .aside-trailer-section .trailer-section-title {
  margin-bottom: 2.5vh;
  font-size: 6vw;
  text-align: left;
}

.container-fluid .central-content .aside-section .aside-trailer-section .trailer-section-video {
  width: 100%;
  height: 34vh;
}

.container-fluid .central-content .aside-section .aside-newsletter-section {
  width: 100%;
}

.container-fluid .central-content .aside-section .aside-newsletter-section .newsletter-section-title {
  margin-bottom: 2.5vh;
  font-size: 6vw;
  text-align: left;
}

.container-fluid .central-content .aside-section .aside-newsletter-section .newsletter-section-form {
  width: 100%;
}

.container-fluid .central-content .aside-section .aside-newsletter-section .newsletter-section-form .email-input {
  width: 100%;
  margin-bottom: 3vh;
  display: block;
  font-size: 5vw;
}

.container-fluid .central-content .aside-section .aside-newsletter-section .newsletter-section-form .submit-button {
  display: block;
  font-size: 5vw;
}

.container-fluid .footer-section {
  z-index: 0;
}

.container-fluid .footer-section .footer-logo {
  height: 9vh;
  margin-top: 3.75vh;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9.5vw;
}

.container-fluid .footer-section .footer-article {
  margin-bottom: 5vh;
}

.container-fluid .footer-section .footer-article .footer-article-title {
  margin-bottom: 1vh;
  font-size: 3.5vw;
}

.container-fluid .footer-section .footer-article .footer-article-paragraph {
  margin-bottom: 1vh;
  font-size: 3.5vw;
}

.container-fluid .footer-section .footer-article .footer-article-paragraph:last-child {
  margin-bottom: 0;
}

.container-fluid .footer-section .footer-social-section {
  margin-bottom: 5vh;
}

.container-fluid .footer-section .footer-social-section .social-section-title {
  margin-bottom: 4vh;
  font-size: 3.5vw;
}

.container-fluid .footer-section .footer-social-section .social-media-list {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fluid .footer-section .footer-social-section .social-media-list .social-media-logo {
  width: 15%;
  height: 5.5vh;
}

.container-fluid .footer-section .footer-legal-section .legal-section-paragraph {
  margin-bottom: 5vh;
  font-size: 3vw;
}

.container-fluid .footer-section .footer-legal-section .legal-section-paragraph:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */